# Initial Data Exploration

<center><img src="../references/banner.png" alt="A title at the top, and 3 groups of people of different ages each group." title="Customer Segmentation" height=350 width=600></center>

We are going to make an initial data exploration to understand our dataset. The dataset was extracted from kaggle [here](https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis). Download and save it on '../data/raw' folder to run this jupyter notebook correctly.

## Overview

First, we will have a quick overview of the dataset to define some tasks to make an initial data exploration.


<i> import the libraries </i>

In [34]:
# Code here
import pandas as pd

# config pandas to show all columns
pd.set_option('display.max_columns', 100)
pd.set_option("display.max_info_rows", 100)

<i>Read the raw data</i>

In [35]:
# read the raw data
data = pd.read_csv('../data/raw/marketing_campaign.csv', sep='\t')

<i>Show the first rows to check if the file was correctly loaded.</i>

In [36]:
data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

<i>Understanding the columns and its description.</i>

There are 29 columns divided into the following categories:

<center><img src='../references/column_description.png' height=600 width=1000></center>
<br>
<i>Checking null values and data types</i>

In [41]:
data.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

Now, we can define some tasks to start the data exporation:
* Income has a few null values;
* Dt_Customer Dtype is not correct;
* Check the unique values for the following columns: Education, Marital_Status;
* Eventually, simplify Education and Marital_Status values to simpler ones;
* Create new columns in the feature engineering section;
* Plot big graph of the numeric columns;